﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="card">
    <div class="card-header text-info" style="font-size:27px;"><strong>Perhatian!!!</strong></div>
    <div class="card-body">
        <div class="row my-5">
            <div class="col-1"></div>
            <div class="col-10">
                
                <div class=" text-black text-center" style="font-size:23px;"><strong>Hanya petugas yang dapat melakukan perintah ini</strong></div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>    
</div>
