﻿@using PERPUSTAKAAN.ViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div>
    <partial name="_Alert" />
    <div class="card-header d-flex justify-content-between">
        <span class="card-header text-info h3 mt-0" style="font-size:27px;"><strong>Rak Buku</strong></span>
    </div>
    <div class="card-body">
        <div class="ms-5 me-5 d-flex justify-content-between">
            <div>
                <button class="ms-5 btn btn-success" title="Add..." id="btnAdd"
                        data-bs-toggle="modal" data-bs-target="#staticModal">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <form id="frmFind" class="input-group me-5 w-25">
                <input id="txtFilter" name="filter" placeholder="Find..." value="@ViewBag.Filter" class="form-control" />
                <button id="btnFilter" type="submit" class="input-group-text"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="container-fuild">
   @if((ViewBag.Rak).Count != 0)
   {
        <div class="row d-flex justify-content-center">
        @foreach (VMRak data in ViewBag.Rak)
        {
            <div class="col-3 mx-3 card mb-3 m text-center" style="border-color:#3498db;">
                <div class="card-body text-center">
                    <p class="card-text text-primary" style="font-size:20px;"><strong>@data.NamaRak</strong></p>
                    <p class="card-text text-black" style="font-size:15px;"><strong>Terdapat di "@data.LokasiRak"</strong></p>
                    <div class="card-footer btn-group">
                        <button type="button" data-id="@data.Id" class="btn btn-warning" title="Edit..."
                                data-bs-toggle="modal" data-bs-target="#staticModal">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" data-id="@data.Id" class="btn btn-outline-info text-black lihatBuku" title="Lihat...">
                            Lihat Buku
                        </button>
                        <button type="button" data-id="@data.Id" class="btn btn-danger" title="Delete..."
                                data-bs-toggle="modal" data-bs-target="#staticModal">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        }  
        </div>
    }
    else
    {
        <div colspan="12" class="text-center my-3"><i id="danger" class="fas fa-exclamation-triangle" style="color:red;"></i><strong>Tidak ada rak yang tersedia! Silahkan tambahkan terlebih dahulu</strong></div>
    }

</div>

<script>
    $("#btnAdd").click(function () {
        $("#staticModalBody").load("/Anggota/Konfirmasi/")
    })
    $(".btn-warning").click(function () {
        let id = $(this).data("id");
        debugger;
        $("#staticModalBody").load("/Anggota/Konfirmasi/")
    })
    $(".btn-danger").click(function () {
        let id = $(this).data("id");
        $("#staticModalBody").load("/Anggota/Konfirmasi/")
    })
    $(".lihatBuku").click(function () {
        let id = $(this).data("id");
        $("#menu1").load("/Buku/Index/" + id)
    })
</script>


