﻿@{
    ViewData["Title"] = "Home Page";
}

<div >
        <nav id="styleNav" class="navbar navbar-light pb-xxl-3 navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background: linear-gradient(to right, #3498db, #ffffff);">
            @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"> *@
            <div class="container-fluid">
			<a id="styleLogo" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-book"></i><strong> MyLibrary</strong></a>
                <div class="text-end">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fas fa-home text-primary"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Test"><i class="fas fa-sticky-note text-info"></i>Kegiatan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Test"><i class="fas fa-sticky-note text-info"></i>Katalog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Test"><i class="fas fa-sticky-note text-info"></i>Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Test"><i class="fas fa-sticky-note text-info"></i>Layanan</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="container col-4 text-center mt-5">
		
		<div class="banner-content mt-5 ">
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<h1 class="text-white mt-5 ms-5" style="font-family:'Poppins'; font-size:80px; margin:20px; outline-color:black;">
				MyLibrary
			</h1>
			
			<div class="text-center">
				<button id="idMasuk" type="button" class="btn btn-outline-light text-black" data-bs-toggle="modal" data-bs-target="#staticModal">
					<div style="font-family:'Poppins'; font-size:20px; margin:10px;">Masuk</div>
				</button>
				<button id="idDaftar" type="button" class="btn btn-outline-light text-black" data-bs-toggle="modal" data-bs-target="#staticModal">
					<div  style="font-family:'Poppins'; font-size:20px; margin:10px;">Daftar</div>
				</button>
				<button id="idInfo" type="button" class="btn btn-outline-light text-black" data-bs-toggle="modal" data-bs-target="#staticModal">
					<div style="font-family:'Poppins'; font-size:20px; margin:10px;">Informasi</div>
				</button>
			</div>
			
		</div>
	</div>
	
	<div class="col-1"></div>
	<div class="col-5">
		<img src="~/images/book.png" style="width:500px;" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">

	</div>
</div>

<script>
	$("#idDaftar").click(function (){
		$("#staticModalBody").load("/Daftar/Index/")
	})
	$("#idMasuk").click(function () {
		$("#staticModalBody").load("/Masuk/Index/")
	})
	$("#idInfo").click(function () {
		$("#staticModalBody").load("/Home/Info/")
	})
</script>

       