﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="card">
    <div class="card-header text-info" style="font-size:27px;">Panduan web</div>


    <div class="card-body text-start">
        <p>1. silahkan create database Perpustakaan yang tersedia di gitlab</p>
        <p>2. Sebelum memulai crud webapp, silahkan daftar terlebih dahulu sebagai petugas lalu masuk</p>
        <p>3. Setelah masuk, silahkan masuk ke menu rak dan add rak yang baru</p>
        <p>4. crud rak bisa dijalankan sekarang</p>
        <p>5. Tekan tombol lihat buku, untuk masuk ke menu buku</p>
        <p>6. Lakukan hal yang sama seperti menu rak</p>
        <p>7. Ingat, yang bisa menjalankan crud hanya petugas</p>
    </div>
</div>
