﻿@using PERPUSTAKAAN.ViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    int? userId = Context.Session.GetInt32("IdPengguna");
    VMBuku data = ViewBag.Data;
}
<form id="frmEdit" method="post">
    <div class="card">
        <div class="card-header text-info" style="font-size:25px;"><strong>Edit Buku</strong></div>
        <div class="card-body mb-3 row">
            <input type="hidden" id="createId" name="UpdateBy" value="@userId" />
            <input type="hidden" id="id" name="Id" value="@data.Id" />
            <input type="hidden" id="id" name="KodeBuku" value="@data.KodeBuku" />
            <input type="hidden" id="id" name="IdRak" value="@data.IdRak" />
            <div class="col-1"></div>
            <div class="col-10">
                <div>&nbsp;</div>
                <label><i>Judul Buku</i><sup class="text-danger">*</sup></label>
                <input class="form-control" id="valNama" type="text" name="JudulBuku" value="@data.JudulBuku" />

                <div>&nbsp;</div>
                <label><i>Penulis</i><sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" name="PenulisBuku" value="@data.PenulisBuku" />

                <div>&nbsp;</div>
                <label><i>Penerbit</i><sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" name="PenerbitBuku" value="@data.PenerbitBuku" />

                <div>&nbsp;</div>
                <label><i>Tahun Terbit</i><sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" name="TahunPenerbit" value="@data.TahunPenerbit" />

                <div>&nbsp;</div>
                <label><i>Stok Buku</i><sup class="text-danger">*</sup></label>
                <input class="form-control" type="number" name="Stok" value="@data.Stok" />

                <div>&nbsp;</div>
                <label><i>Gambar Buku</i></label>
                <div class="input-group">
                    <input class="form-control" type="file" name="imageFile" value="@data.FileGambar" />
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="card-footer text-center">
            <button id="btnAdd" type="submit" class="btn btn-primary">Edit</button>
        </div>
    </div>
</form>

<script>
    $.validator.addMethod(
        "bukuExist",
        function (value, element, params) {
            var result = false;

            $.ajax({
                url: "/Buku/CekNamaBuku/",
                type: "post",
                data: {
                    JudulBuku: value,
                    nama: "@data.JudulBuku"
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    result = response;
                },
                error: function (errResponse) {
                    debugger;
                    alert(response.message);
                    result = false;
                }
            });

            return result;
        },
        "Buku sudah ada"
    )
    $("#frmEdit").validate({
        errorClass: "text-danger",
        rules: {
            JudulBuku: {
                "required": true,
                "bukuExist": true

            },
            PenulisBuku: {
                "required": true
            },
            PenerbitBuku: {
                "required": true
            },
            Stok: {
                "required": true
            },
            TahunPenerbit: {
                "required": true
            }

        },
        messages: {
            JudulBuku: {
                "required": "*harus diisi",
                "rakExist": "*Buku tersebut sudah ditambahkan"
            },
            PenulisBuku: {
                "required": "*harus diisi"
            },
            PenerbitBuku: {
                "required": "*harus diisi"
            },
            Stok: {
                "required": "*harus diisi"
            },
            TahunPenerbit: {
                "required": "*harus diisi"
            }

        },
        submitHandler: function () {
            debugger;
            return false;
        }
    });
    $("#frmEdit").submit(function (event) {

        event.preventDefault();
        if ($("#frmEdit").valid()) {
            debugger;
            let formData = new FormData($("#frmEdit")[0]);
            $.ajax({
                url: "/Buku/KonEdit/",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function () { },
                success: function (response) {
                    debugger;
                    $("#staticModalBody").html(response)

                },
                error: function () {

                },
            });
        }
    });
</script>