﻿@using PERPUSTAKAAN.ViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    int? petId = Context.Session.GetInt32("IdPetugas");
    int? agId = Context.Session.GetInt32("IdAnggota");
    if(petId == null)
    {
        petId = 0;
    }
}
<div>
    <partial name="_Alert" />
    <div class="card-header d-flex justify-content-between">
        <span class="card-header text-info h3 mt-0" style="font-size:27px;"><strong>Koleksi buku pada "@ViewBag.Rak"</strong></span>
    </div>
    <div class="card-body">
        <div class="ms-5 me-5 d-flex justify-content-between">
            <div>
                <button class="ms-5 btn btn-success" title="Add..." id="btnAdd"
                        data-bs-toggle="modal" data-bs-target="#staticModal">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <form id="frmFind" class="input-group me-5 w-25">
                <input id="txtFilter" name="filter" placeholder="Find..." value="@ViewBag.Filter" class="form-control" />
                <button id="btnFilter" type="submit" class="input-group-text"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <hr />
        <div class="container-fuild">
            @if ((ViewBag.Buku).Count != 0)
            {
                <div class="row d-flex justify-content-center">
                    @foreach (VMBuku data in ViewBag.Buku)
                    {
                        <div class="col-5 card mb-3 text-center" style="border-color:#3498db;">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <img class="img-fluid" style="width:150px;align-self:center;" alt="@(data.ImageBase64?? "--N/A--")" title="@(data.ImageBase64 ?? "--N/A--")"
                                             src="@(data.ImageBase64??Url.Content($"~/{ViewBag.ImgFolder}/buku-kosong.png"))" />
                                    </div>
                                    <div class="col-6 text-start">
                                        <pre class="card-text text-primary" style="font-size:19px;font-family:'Poppins';"><strong>Judul     : @data.JudulBuku</strong></pre>
                                        <pre class="card-text text-black" style="font-size:15px;">Kode     : @data.KodeBuku</pre>
                                        <pre class="card-text text-black" style="font-size:15px;">Penulis  : @data.PenulisBuku</pre>
                                        <pre class="card-text text-black" style="font-size:15px;">Penerbit : @data.PenerbitBuku</pre>
                                        <pre class="card-text text-black" style="font-size:15px;">Tahun    : @data.TahunPenerbit</pre>
                                        <pre class="card-text text-black" style="font-size:15px;">Stok     : @data.Stok</pre>
                                    </div>
                                </div>
                                <div class="card-footer mt-3 btn-group">
                                    <button type="button" data-id="@data.Id" class="btn btn-warning" title="Edit..."
                                            data-bs-toggle="modal" data-bs-target="#staticModal">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" data-id="@data.Id" class="btn btn-outline-info text-black" title="Lihat...">
                                            
                                        Pinjam Buku
                                    </button>
                                    <button type="button" data-id="@data.Id" class="btn btn-danger" title="Delete..."
                                            data-bs-toggle="modal" data-bs-target="#staticModal">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div colspan="12" class="text-center my-3"><i id="danger" class="fas fa-exclamation-triangle" style="color:red;"></i><strong>Tidak ada buku yang tersedia! Silahkan tambahkan terlebih dahulu</strong></div>
            }
    </div>
        <div class="card-footer text-center">
            <div class=" btn-group">
                <button id="prev" type="button" class="btn btn-primary" title="Previous Page..."><i class="fas fa-backward"></i></button>
                <span class="input-group-text">??? Dari ???</span>
                <button id="next" type="button" class="btn btn-primary" title="Next Page..."><i class="fas fa-forward"></i></button>
            </div>
        </div>
</div>

</div>

<script>

    $("#btnAdd").click(function () {
        let idpet = @petId;
        debugger;
        if (idpet != 0) {
            $("#staticModalBody").load("/Buku/Tambah/?idRak=" + @ViewBag.RakId)
        }
        else {
            $("#staticModalBody").load("/Anggota/Konfirmasi/")
        }
    })
    $(".btn-warning").click(function () {
        let id = $(this).data("id");
        let idpet = @petId;
        if (idpet != 0) {
            $("#staticModalBody").load("/Buku/Edit/" + id)
        }
        else {
            $("#staticModalBody").load("/Anggota/Konfirmasi/")
        }
        
    })
    $(".btn-danger").click(function () {
        let id = $(this).data("id");
        let idpet = @petId;
        if (idpet != 0) {
            $("#staticModalBody").load("/Buku/Hapus/" + id)
        }
        else {
            $("#staticModalBody").load("/Anggota/Konfirmasi/")
        }
        
    })
</script>


