﻿@using Newtonsoft.Json;
@using PERPUSTAKAAN.ViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int? userId = Context.Session.GetInt32("IdPengguna");
    Layout = null;
    VMBuku data = ViewBag.Data;
}
<form id="frmTambah" method="post">
    <div class="card">
        <input type="hidden" id="idRak" name="idRak" value="@data.IdRak" />

        <div class="card-header text-center"> <strong>Anda yakin akan menyimpan perubahan?</strong></div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="img-fluid" style="width:200px;align-self:center;" alt="@(data.ImageBase64?? "--N/A--")" title="@(data.ImageBase64 ?? "--N/A--")"
                         src="@(data.ImageBase64??Url.Content($"~/{ViewBag.ImgFolder}/buku-kosong.png"))" />
                </div>
                <div class="col-5"><strong>Judul Buku</strong></div>
                <div class="col-1"><strong>:</strong></div>
                <div class="col-6">@data.JudulBuku</div>

                <div class="col-5"><strong>Penulis</strong></div>
                <div class="col-1"><strong>:</strong></div>
                <div class="col-6">@data.PenulisBuku</div>

                <div class="col-5"><strong>Penerbit</strong></div>
                <div class="col-1"><strong>:</strong></div>
                <div class="col-6">@data.PenerbitBuku</div>

                <div class="col-5"><strong>Tahun Terbit</strong></div>
                <div class="col-1"><strong>:</strong></div>
                <div class="col-6">@data.TahunPenerbit</div>

                <div class="col-5"><strong>Stok</strong></div>
                <div class="col-1"><strong>:</strong></div>
                <div class="col-6">@data.Stok</div>

            </div>
            <div class="card-footer text-center mt-3">
                <button type="button" class="btn mx-2 border" id="BtnClose"><i class="fas fa-times fa-lg" style="color: #e60000;"></i></button>
                <button type="button" class="btn mx-2 border" id="btnSubmit" data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-check fa-lg" style="color: #16e407;"></i></button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#BtnClose").click(function (event) {
        debugger;
        $("#menu1").load("/Buku/Index/?id=" + id)
    })
    $("#btnSubmit").click(function (event) {
        let id = $("#idRak").val();
        let dataBuku = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Data));
        let data = { 
            data: dataBuku,
            craeteBy: @userId
        }
        $.ajax({
            url: "/Buku/Tambah/",
            type: "post",
            data: data,
            dataType: "json",
            beforeSend: function () { },
            success: function (response) {
                debugger;
                if (response.statusCode == 201) {
                    $("#menu1").load("/Buku/Index/?id="+id)
                }

            },
            error: function () {

            },
        });
    });
</script>