﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    int? userId = Context.Session.GetInt32("IdPengguna");
}
<form id="frmTambah" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header text-info" style="font-size:25px;"><strong>Tambah Rak Buku</strong></div>
        <div class="card-body mb-3 row">
            <input type="hidden" id="createId" name="KodeBuku" value="1" />
            <input type="hidden" id="Id" name="idRak" value="@ViewBag.RakId" />
            <div class="col-1"></div>
            <div class="col-10">
                <div>&nbsp;</div>
                <label><i>Judul Buku</i><sup class="text-danger">*</sup></label>
                <input class="form-control" id="valNama" type="text" name="JudulBuku" placeholder="Masukkan judul buku..." />

                <div>&nbsp;</div>
                <label><i>Penulis</i><sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" name="PenulisBuku" placeholder="Masukkan penulis buku..." />

                <div>&nbsp;</div>
                <label><i>Penerbit</i><sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" name="PenerbitBuku" placeholder="Masukkan penerbit buku..." />

                <div>&nbsp;</div>
                <label><i>Tahun Terbit</i><sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" name="TahunPenerbit" placeholder="Masukkan tahun terbit..." />

                <div>&nbsp;</div>
                <label><i>Stok Buku</i><sup class="text-danger">*</sup></label>
                <input class="form-control" type="number" name="Stok" placeholder="Masukkan stok buku..." />

                <div>&nbsp;</div>
                <label><i>Gambar Buku</i></label>
                <div class="input-group">
                    <input class="form-control" type="file" name="imageFile" placeholder="Masukkan gambar(jpg/png).." />
                </div>

            </div>
            <div class="col-1"></div>
        </div>
        <div class="card-footer text-center">
            <button id="btnAdd" type="submit" class="btn btn-primary">Tambah</button>
        </div>
    </div>
</form>

<script>
    $.validator.addMethod(
        "bukuExist",
        function (value, element, params) {
            var result = false;

            $.ajax({
                url: "/Buku/CekBuku/",
                type: "post",
                data: { JudulBuku: value },
                dataType: "json",
                async: false,
                success: function (response) {
                    result = response;
                },
                error: function (errResponse) {
                    debugger;
                    alert(response.message);
                    result = false;
                }
            });

            return result;
        },
        "Buku sudah ada"
    )
    $("#frmTambah").validate({
        errorClass: "text-danger",
        rules: {
            JudulBuku: {
                "required": true,
                "bukuExist": true

            },
            PenulisBuku: {
                "required": true
            },
            PenerbitBuku: {
                "required": true
            },
            Stok: {
                "required": true
            },
            TahunPenerbit: {
                "required": true
            }

        },
        messages: {
            JudulBuku: {
                "required": "*harus diisi",
                "rakExist": "*Buku tersebut sudah ditambahkan"
            },
            PenulisBuku: {
                "required": "*harus diisi"
            },
            PenerbitBuku: {
                "required": "*harus diisi"
            },
            Stok: {
                "required": "*harus diisi"
            },
            TahunPenerbit: {
                "required": "*harus diisi"
            }
            
        },
        submitHandler: function () {
            debugger;
            return false;
        }
    });
    $("#frmTambah").submit(function (event) {

        event.preventDefault();
        if ($("#frmTambah").valid()) {
            debugger;
            let formData = new FormData($("#frmTambah")[0]);
            $.ajax({
                url: "/Buku/KonTambah/",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function () { },
                success: function (response) {
                    debugger;
                    $("#staticModalBody").html(response)

                },
                error: function () {

                },
            });
        }
    });

</script>