﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    // int? role = Context.Session.GetInt32("UserRole");
}

<form id="frmLogin" method="post" asp-action="Index">
    <div class="card">
        <div class="card-header text-info" style="font-size:27px;"><strong>Masuk</strong></div>
        <div class="card-body">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div>&nbsp;</div>
                    <label><i>Email</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valEmail" type="email" name="Email" placeholder="Insert your email..." />
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div>&nbsp;</div>
                    <label><i>Password</i><sup class="text-danger">*</sup></label>
                    <div class="input-group">
                        <input class="form-control" id="valPassword" type="password" name="Password" placeholder="Insert your password..." />
                        <button type="button" class="btn btn-outline-primary"><i id="mata" class="fas fa-eye" style="color: #004bcc;"></i></button>
                    </div>
                    <div id="errMsgVal">
                        <span id="errMsg"></span>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
        <div class="card-footer text-center">
            <button id="loadSpin" type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>


<script>

    $("#frmLogin").validate({
        errorClass: "text-danger",
        errorElement: 'span',
        errorPlacement: function (error, element) {
            if (element.attr("name") === "Password") {
                error.insertAfter("#errMsgVal");
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            Email: {
                "required": true,
                "email": true
            },
            Password: {
                "required": true
            }
        },
        messages: {
            Email: {
                "required": "*Silahkan input email terlebih dahulu",
                "email": "*mohon isi email yang sesuai"
            },
            Password: {
                "required": "*Silahkan set password terlebih dahulu"
            }
        },
        submitHandler: function () {

            return false;
        }
    });
    $("#frmLogin").submit(function (event) {

        event.preventDefault();
        if ($("#frmLogin").valid()) {
            let data = {
                email: $("#valEmail").val(),
                password: $("#valPassword").val()
            };

            let password = $("#valPassword").val();


            $.ajax({
                url: "/Masuk/Masuk/",
                type: "get",
                data: data,
                dataType: "json",
                beforeSend: function () {
                    $("#loadSpin").html('<i class="fas fa-spinner fa-spin"></i>');
                },
                success: function (response) {
                    debugger;
                    if (response.statusCode == 200) {
                        if ((response.data).idPetugas != null) {
                            location.replace("/Petugas/Index")
                        }
                        else {
                            location.replace("/Anggota/Index")
                        }
                    }
                    else {
                        alert("password salah")
                    }

                },
                Error: function (errResponse) {

                    alert("Process Failed");
                }
            })
        }
    });


    $("#mata").click(() => {
        if ($("#valPassword").attr("type") == "password") {
            $("#valPassword").attr("type", "text");
            $("#mata").removeClass("fa-eye").addClass("fa-eye-slash");
        }
        else {
            $("#valPassword").attr("type", "password");
            $("#mata").removeClass("fa-eye-slash").addClass("fa-eye");
        }
    })

    $("#valPassword").click(function () {

        const element = document.getElementById("aku");
        element.remove();

    })

</script>