﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    int? userId = Context.Session.GetInt32("IdPengguna");
}
<form id="frmEdit" method="post">
    <div class="card">
        <div class="card-header text-info" style="font-size:25px;"><strong>Edit Rak Buku</strong></div>
        <div class="card-body mb-3 row">
            <input type="hidden" id="createId" name="UpdateBy" value="@userId" />
            <input type="hidden" id="id" name="Id" value="@ViewBag.Id" />
            <div class="col-1"></div>
            <div class="col-10">
                <div>&nbsp;</div>
                <label><i>Nama Rak</i><sup class="text-danger">*</sup></label>
                <input class="form-control border-info" id="valNama" type="text" name="NamaRak" value="@ViewBag.Nama" />

                <div>&nbsp;</div>
                <label><i>Lokasi</i><sup class="text-danger">*</sup></label>
                <input class="form-control border-info" id="valJr" type="text" name="LokasiRak" value="@ViewBag.Lokasi" />

            </div>
            <div class="col-1"></div>
        </div>
        <div class="card-footer text-center">
            <button id="btnAdd" type="submit" class="btn btn-primary">Edit</button>
        </div>
    </div>
</form>

<script>
    $.validator.addMethod(
        "rakExist",
        function (value, element, params) {
            var result = false;

            $.ajax({
                url: "/Petugas/CekNamaRak/",
                type: "post",
                data: {
                    NamaRak: value,
                    nama: "@ViewBag.Nama"
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    result = response;
                },
                error: function (errResponse) {
                    debugger;
                    alert(response.message);
                    result = false;
                }
            });

            return result;
        },
        "Rak sudah ada"
    )
    $("#frmEdit").validate({
        errorClass: "text-danger",
        rules: {
            NamaRak: {
                "required": true,
                "rakExist": true

            },
            LokasiRak: {
                "required": true
            }

        },
        messages: {
            NamaRak: {
                "required": "*harus diisi",
                "rakExist": "*Rak tersebut sudah ditambahkan"
            },
            LokasiRak: {
                "required": "*harus diisi"
            }
        },
        submitHandler: function () {
            debugger;
            return false;
        }
    });
    $("#frmEdit").submit(function (event) {

        event.preventDefault();
        if ($("#frmEdit").valid()) {
           
            let data = $("#frmEdit").serialize();
            $.ajax({
                url: "/Petugas/KonEditRak/",
                type: "post",
                data: data,
                dataType: "text",
                beforeSend: function () { },
                success: function (response) {
                    debugger;
                    $("#staticModalBody").html(response)
                },
                error: function () {

                },
            });
        }
    });

</script>