﻿@using Newtonsoft.Json;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    int? userId = Context.Session.GetInt32("IdPengguna");
}

<div class="card">
    <div class="card-header text-info" style="font-size:27px;">Hapus</div>

    <input type="hidden" id="valId" name="Id" value="@ViewBag.Id" />

    <div class="card-body text-center">
        <i id="tblBahaya" class="fas fa-exclamation-triangle" style="color:red;"></i> Apakah anda yakin ingin menghapus "@ViewBag.Nama"?
    </div>
    <div class="card-footer text-end">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Batal</button>
            <button id="btnSubmit" type="button" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#staticModal">Hapus</button>
        </div>
    </div>
</div>

<script>
    $("#btnSubmit").click(async function () {
        let data = { id: $("#valId").val(), idPengguna: @userId}
        debugger;
        $.ajax({
            url: "/Petugas/Hapus",
            type: "post",
            data: data,
            dataType: "json",
            success: function (response) {
                debugger;
                $("#menu1").load("/Petugas/Rak/")
            },
            error: function (errResponse) {
                debugger;
                alert("Process Failed");
            }
        })




    })
</script>