﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<body>
    <header>
        <nav id="styleNav" class="navbar navbar-light pb-xxl-3 navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background: linear-gradient(to right, #3498db, #ffffff);">
            @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"> *@
            <div class="container-fluid">
                <a id="styleLogo" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i id="logo" class="fas fa-book"></i><strong> MyLibrary</strong></a>
                <div class="text-end">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-dark" <i class="fa fas fa-home text-primary"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" <i class="fas fa-sticky-note text-info"></i>Kegiatan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" <i class="fas fa-sticky-note text-info"></i>Katalog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" <i class="fas fa-sticky-note text-info"></i>Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" <i class="fas fa-sticky-note text-info"></i>Layanan</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid pb-2">
        <div class="row">
            <div class="col-2" style="background: linear-gradient(to right, #3498db, #5fc6fa);">
                <nav class=" navbar navbar-dark" style="background: linear-gradient(to right, #3498db, #5fc6fa);">
                    <h class="text-white ms-md-5 mx-5 h5">
                        Menu
                    </h>
                    <button class="navbar-toggler me-2" style="border-color:black;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
                            aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon " style="border-color:black;"></span>
                    </button>
                </nav>
                <hr class="text-white" />

                <div class="collapse btnMenuList" id="navbarToggleExternalContent">
                    <ul class="nav nav-pills flex-column mb-auto">

                        <li>
                            <a class="nav-link link-dark  text-white"                       >
                                <svg class="bi me-2" width="16" height="16"></svg>
                                Rak Buku
                            </a>
                        </li>
                        <li>
                            <a class="nav-link link-dark  text-white">
                                <svg class="bi me-2" width="16" height="16"></svg>
                                Buku
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="menu1" class="card col-10 d-flex justify-content-between">
                <partial name="_Alert" />
                <div class="card-header d-flex justify-content-between">
                    <span class="card-header text-info h3" style="font-size:27px;"><strong>Selamat datang di MyLibrary</strong></span>
                </div>
                <div class="card-body row ">
                    <div class="col-3 card p-2  text-center" style="border-color:#3498db;">
                        <div class="card-body text-center" >
                            <p class="card-text">Rak Buku</p>
                            <button id="idRak" class="btn btn-primary text-center btnMenu" data-bs-target="#navbarToggleExternalContent"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                                Klik
                            </button>
                        
                        </div>
                    
                    </div>
                    <div class="col-3 ms-3 card p-2  text-center" style="border-color:#3498db;">
                        <div class="card-body text-center">
                            <p class="card-text">Peminjaman</p>
                            <button  class="btn btn-primary text-center btnMenu" data-bs-target="#navbarToggleExternalContent"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                                Klik
                            </button>
                        </div>
                    </div>
                    <div class="col-3 ms-3 card p-2  text-center" style="border-color:#3498db;">
                        <div class="card-body text-center">
                            <p class="card-text">Pengembalian</p>
                            <button class="btn btn-primary text-center btnMenu" data-bs-target="#navbarToggleExternalContent"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                                Klik
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $("#idRak").click(function(){
        $("#menu1").load("/Petugas/Rak/")
    })
</script>