﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int? userId = Context.Session.GetInt32("IdPengguna");
    Layout = null;
}
<form id="frmTambah" method="post">
    <div class="card">
        <input type="hidden" name="NamaRak" value="@ViewBag.Nama" />
        <input type="hidden" name="LokasiRak" value="@ViewBag.Lokasi" />
        <input id="" type="hidden" name="CreateBy" value="@ViewBag.CreateBy" />

        <div class="card-header text-center"> <strong>Anda yakin akan menyimpan perubahan?</strong></div>
        <div class="card-body">
            <div class="row">
                <div class="col-4"><strong>Nama Rak</strong></div>
                <div class="col-1"><strong>:</strong></div>
                <div class="col-7">@ViewBag.Nama</div>

                <div class="col-4"><strong>Lokasi</strong></div>
                <div class="col-1"><strong>:</strong></div>
                <div class="col-7">@ViewBag.Lokasi</div>

            </div>
            <div class="card-footer text-center mt-3">
                <button type="button" class="btn mx-2 border" id="BtnClose"><i class="fas fa-times fa-lg" style="color: #e60000;"></i></button>
                <button type="button" class="btn mx-2 border" id="btnSubmit" data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-check fa-lg" style="color: #16e407;"></i></button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#BtnClose").click(function (event) {
        debugger;
        $("#menu1").load("/Petugas/Rak/")
    })
    $("#btnSubmit").click(function (event) {
        let data = $("#frmTambah").serialize();
        $.ajax({
            url: "/Petugas/Tambah/",
            type: "post",
            data: data,
            dataType: "json",
            beforeSend: function () { },
            success: function (response) {
                debugger;
                if (response.statusCode == 201) {
                    $("#menu1").load("/Petugas/Rak/")
                }

            },
            error: function () {

            },
        });
    });
</script>