﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmBiodata" method="post">
    <div class="card">
        <div class="card-header text-info" style="font-size:27px;"><strong>Biodata</strong></div>
        <div class="card-body">
            <input type="hidden" id="valEmail" name="Email" value="@ViewBag.Email" />
            <input type="hidden" id="valPassword" name="Password" value="@ViewBag.Password" />
            <input type="hidden" id="valPassword" name="role" value="@ViewBag.Role" />
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div>Mohon isi sesuai data anda</div>
                    <div>&nbsp;</div>
                    <label><i>Nama Lengkap</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valNama" type="text" required name="NamaPetugas" placeholder="Masukkan nama..." />

                    <div>&nbsp;</div>
                    <label><i>Jabatan</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valJr" type="text" required name="JabatanPetugas" placeholder="Masukkan Jabatan..." />

                    <div>&nbsp;</div>
                    <label><i>Nomor Handphone</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valNoTelp" type="number" required name="NoTelpPetugas" placeholder="Masukkan No. Handphone..." />

                    <div>&nbsp;</div>
                    <label><i>Alamat</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valAlamat" type="text" required name="AlamatPetugas" placeholder="Masukkan Alamat..." />

                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button id="loadSpin" type="submit" class="btn btn-primary">Daftar</button>
        </div>
    </div>
</form>

<script>
    $("#frmBiodata").validate({
        errorClass: "text-danger",
        rules: {
            NamaPetugas: {
                "required": true
            },
            JabatanPetugas: {
                "required": true
            },
            NoTelpPetugas: {
                "required": true
            },
            AlamatPetugas: {
                "required": true
            }

        },
        messages: {
            NamaPetugas: {
                "required": "*harus diisi",
            },
            JabatanPetugas: {
                "required": "*harus diisi"
            },
            NoTelpPetugas: {
                "required": "*harus diisi"
            },
            AlamatPetugas: {
                "required": "*harus diisi"
            }
        },
        submitHandler: function () {
            debugger;
            return false;
        }
    });
    $("#frmBiodata").submit(function (event) {

        event.preventDefault();
        if ($("#frmBiodata").valid()) {
            let data = $("#frmBiodata").serialize();
            $.ajax({
                url: "/Daftar/Daftar/",
                type: "post",
                data: data,
                dataType: "json",
                beforeSend: function () { $("#loadSpin").html('<i class="fas fa-spinner fa-spin"></i>'); },
                success: function (response) {
                    debugger;
                    if (response.statusCode == 201) {
                        location.reload();
                    }

                },
                error: function () {

                },
            });
        }
    });

</script>