﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmBiodata" method="post">
    <div class="card">
        <div class="card-header text-info" style="font-size:27px;"><strong>Biodata</strong></div>
        <div class="card-body">
            <input type="hidden" id="valEmail" name="Email" value="@ViewBag.Email" />
            <input type="hidden" id="valPassword" name="Password" value="@ViewBag.Password" />
            <input type="hidden" id="valPassword" name="role" value="@ViewBag.Role" />
            <input type="hidden" id="valPassword" name="KodeAnggota" value="a" />
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div>Mohon isi sesuai data anda</div>
                    <div>&nbsp;</div>
                    <label><i>Nama Lengkap</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valNama" required type="text" name="NamaAnggota" placeholder="Masukkan nama..." />

                    <div>&nbsp;</div>
                    <label><i>Jenis Kelamin</i><sup class="text-danger">*</sup></label>
                    <div class="row">
                        <span class="col-5">
                            <div class="form-check">
                                <input class="form-check-input" required type="radio" name="JkAnggota" value="L" />
                                <label class="form-check-label">Laki-Laki</label>
                            </div>
                        </span>
                        <span class="col-5">
                            <div class="form-check">
                                <input class="form-check-input" required type="radio" name="JkAnggota" value="P">
                                <label class="form-check-label">Perempuan</label>
                            </div>
                        </span>
                    </div>

                    <div>&nbsp;</div>
                    <label><i>Jurusan</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valJr" required type="text" name="JurusanAnggota" placeholder="Masukkan jurusan..." />

                    <div>&nbsp;</div>
                    <label><i>Nomor Handphone</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valNoTelp" required type="number" name="NoTelpAnggota" placeholder="Masukkan No. Handphone..." />

                    <div>&nbsp;</div>
                    <label><i>Alamat</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valAlamat" required type="text" name="AlamatAnggota" placeholder="Masukkan Alamat..." />

                </div>
                <div class="col-1"></div>
            </div>
          </div>  
        <div class="card-footer text-center">
            <button id="loadSpin" type="submit" class="btn btn-primary">Daftar</button>
        </div>
    </div>
</form>

<script>
    $("#frmBiodata").validate({
        errorClass: "text-danger",
        rules: {
            NamaAnggota: {
                "required": true
            },
            JkAnggota: {
                "required": true
            },
            JurusanAnggota: {
                "required": true
            },
            NoTelpAnggota: {
                "required": true
            },
            AlamatAnggota: {
                "required": true
            }

        },
        messages: {
            NamaAnggota: {
                "required": "*harus diisi",
            },
            JkAnggota: {
                "required": "*harus diisi"
            },
            JurusanAnggota: {
                "required": "*harus diisi"
            },
            NoTelpAnggota: {
                "required": "*harus diisi"
            },
            AlamatAnggota: {
                "required": "*harus diisi"
            }
        },
        submitHandler: function () {
            debugger;
            return false;
        }
    });
    $("#frmBiodata").submit(function (event) {

        event.preventDefault();
        if ($("#frmBiodata").valid()) {
            let data = $("#frmBiodata").serialize();
            $.ajax({
                url: "/Daftar/Daftar/",
                type: "post",
                data: data,
                dataType: "json",
                beforeSend: function () {
                    $("#loadSpin").html('<i class="fas fa-spinner fa-spin"></i>');
                },
                success: function (response) {
                    debugger;
                    if (response.statusCode == 201) {
                        location.reload();
                    }

                },
                error: function () {

                },
            });
        }
    });
        
</script>
