﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmDaftar" method="post">
    <div class="card">
        <div class="card-header text-info" style="font-size:27px;"><strong>Daftar</strong></div>
        <div class="card-body">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div>Mohon isi form dibawah dengan benar!</div>
                    <div>&nbsp;</div>
                    <label><i>Email</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valEmail" type="email" required name="Email" placeholder="Masukkan email..." />
                    <div>&nbsp;</div>
                    <div>
                        <label><i>Password</i><sup class="text-danger">*</sup></label>
                        <div class="input-group">
							<input class="form-control" id="valPassword" type="password" required name="Password" placeholder="Masukkan password..." />
							<button type="button" class="btn btn-outline-primary"><i id="mata" class="fas fa-eye" style="color: #004bcc;"></i></button>
						</div>
                    </div>
                    <div id="errMsg" class="text-danger"></div>
                    <div>&nbsp;</div>
                    <div>
                        <label><i>Konfirmasi Password</i><sup class="text-danger">*</sup></label>
						<div class="input-group">
							<input class="form-control" id="valPassVerif" type="password" required name="PassVerif" placeholder="Konfirmasi password..." />
							<button type="button" class="btn btn-outline-primary"><i id="mataSlash" class="fas fa-eye" style="color: #004bcc;"></i></button>
						</div>
                    </div>
                    <div id="salah" class="text-danger"></div>
                    
                    <div>&nbsp;</div>
                    <select id="valRole" required name="role" class="form-control">
                        <option value="">--Daftar sebagai--</option>                       
                        <option id="jabatan1" name="role" value="petugas">Petugas</option>
                        <option id="jabatan1" name="role" value="anggota">Anggota</option>     
                    </select>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button id="btnDaftar" type="submit" class="btn btn-primary">Daftar</button>
        </div>
    </div>
</form>

<script>
    $("#frmDaftar").validate({
        errorClass: "text-danger",
        errorPlacement: function (error, element) {
            if (element.attr("name") === "Password") {
                error.insertAfter("#errMsg");
            
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            Email: {
                "required": true,
                "email": true
            },
            role: {
                "required": true
            },
            Password: {
                "required": true,
                "minlength": 8
            },
            PassVerif: {
                "required": false
            }

        },
        messages: {
            Email: {
                "required": "*email harus diisi",
                "email": "*mohon isi email yang sesuai",
            },
            role: {
                "required": "*Pilih daftar sebagai apa"
            },
            Password: {
                "required": "*Password harus diisi",
                "minlength":"*Minimal harus 8 karakter"
            }
        },
        submitHandler: function () {
            debugger;
            return false;
        }
    });
    $("#frmDaftar").submit(function (event) {

        event.preventDefault();
        if ($("#frmDaftar").valid()) {
            let data = $("#frmDaftar").serialize();
            let role = $("#valRole").val();
            let pass = $("#valPassword").val();
            let verif = $("#valPassVerif").val();
            debugger;
            if (role == "anggota" && pass == verif) {
                $.ajax({
                    url: "/Daftar/DataDiri/",
                    type: "post",
                    data: data,
                    dataType: "text",
                    beforeSend: function () {
                        $("#loadSpin").html('<i class="fas fa-spinner fa-spin"></i>');
                    },
                    success: function (response) {
                        debugger;
                        $("#staticModalBody").html(response)

                    },
                    error: function () {

                    },
                });
            }
            else if (role == "petugas" && pass == verif) {
                $.ajax({
                    url: "/Daftar/DataPetugas/",
                    type: "post",
                    data: data,
                    dataType: "text",
                    beforeSend: function () { },
                    success: function (response) {
                        debugger;
                        $("#staticModalBody").html(response)

                    },
                    error: function () {

                    },
                });
            }
            else {
                let salah = $("#salah").text();
                if (salah == "") {
                    $("#salah").append('<div>Konfirmasi password tidak sesuai</div>')
                }
            }
        }
    })

    $("#mata").click(() => {
        if ($("#valPassword").attr("type") == "password") {
            $("#valPassword").attr("type", "text");
            $("#mata").removeClass("fa-eye").addClass("fa-eye-slash");
        }
        else {
            $("#valPassword").attr("type", "password");
            $("#mata").removeClass("fa-eye-slash").addClass("fa-eye");
        }
    })
    $("#mataSlash").click(() => {
        if ($("#valPassVerif").attr("type") == "password") {
            $("#valPassVerif").attr("type", "text");
            $("#mataSlash").removeClass("fa-eye").addClass("fa-eye-slash");
        }
        else {
            $("#valPassVerif").attr("type", "password");
            $("#mataSlash").removeClass("fa-eye-slash").addClass("fa-eye");
        }
    })
</script>
